@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Train+One&display=swap');

:root {
    --featured-color: #055;
}

body, 
body *:not(script):not(style):not(ul):not(li) {
    all: unset;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    transition: all 2s;
}
body {
    font: 16px;
    background: #f1f1f1;
    @media (prefers-color-scheme: dark) {
        background-color: #333;
    }
}

.root {
    .panel {
        margin: 1rem;
        background-color: #fff;
        color: #000;
        border-radius: 1rem;
        padding: 1.4rem 1.6rem;
        display: grid;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        @media (prefers-color-scheme: dark) {
            background-color: #222;
            color: #fff;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }
    }
}

@import "./resume/resume.scss";