@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Train+One&display=swap");
:root {
  --featured-color: #055;
}

body,
body *:not(script):not(style):not(ul):not(li) {
  all: unset;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  transition: all 2s;
}

body {
  font: 16px;
  background: #f1f1f1;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
}

.root .panel {
  margin: 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1.4rem 1.6rem;
  display: grid;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
  .root .panel {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}

.resume {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .resume {
    grid-template-columns: 1fr;
  }
}
.resume aside {
  background-color: var(--featured-color);
}
.resume .resume--intro img {
  margin: 0 auto;
  max-height: 25vh;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: double 0.75rem var(--featured-color);
  filter: brightness(1.3);
}
.resume .resume--intro section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resume .resume--intro section h1 {
  font-size: 1.9rem;
  margin: 0.5rem 0 0 0;
  font-weight: 500;
  text-align: center;
}
.resume .resume--intro section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
}
.resume .panel h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.resume .panel h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
.resume .panel a {
  text-decoration: none;
  cursor: pointer;
}
.resume .panel a:hover {
  text-decoration: underline;
}
.resume .panel .icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
  color: var(--featured-color);
}
.resume .panel .resume--role {
  margin-bottom: 1rem;
}
.resume .panel .resume--role h4 {
  font-weight: 500;
  font-size: 1.15rem;
}
.resume .panel .resume--role h4, .resume .panel .resume--role h5, .resume .panel .resume--role h6, .resume .panel .resume--role p, .resume .panel .resume--role ul {
  display: block;
}
.resume .panel .resume--role h4 a, .resume .panel .resume--role h5 a, .resume .panel .resume--role h6 a, .resume .panel .resume--role p a, .resume .panel .resume--role ul a {
  display: inline;
}
.resume .panel .resume--role ul {
  margin: 0 0 1rem 0.5rem;
}
.resume .panel .resume--role h6 {
  margin: 0.5rem 0;
  font-weight: 500;
}
.resume .panel .resume--role .place {
  display: inline-flex;
  flex-direction: row;
  grid-gap: 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
}
@media (max-width: 768px) {
  .resume .panel .resume--role .place {
    flex-direction: column;
  }
}
.resume .panel .resume--role .place .location::before {
  display: inline-block;
  content: "•";
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .resume .panel .resume--role .place .location {
    display: block;
  }
  .resume .panel .resume--role .place .location::before {
    display: none;
  }
}
.resume .panel .resume--role .timeline {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}
.resume .panel .resume--role .tag {
  display: inline-block;
  background-color: var(--featured-color);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.resume aside .wrapper {
  position: sticky;
  top: 1rem;
}

/*# sourceMappingURL=global.css.map */
